LLM_API_TYPE=openai
LLM_API_PLATFORM=azure
MODEL=<MODEL>
LLM_API_BASE=https://<YOUR-HOST>.openai.azure.com/
LLM_DEPLOYMENT_ID=<DEPLOYMENT_ID>
LLM_AZURE_USE_ENTRA_ID=True
LLM_AZURE_ENTRA_SCOPE=https://cognitiveservices.azure.com/.default
LLM_AZURE_CLIENT_SECRET=<CLIENT_SECRET>
LLM_AZURE_CLIENT_ID=<CLIENT_ID>
LLM_AZURE_TENANT_ID=<TENANT_ID>
LLM_API_VERSION=2024-06-01
